@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.post-card {
  width: 300px;
  height: 300px;
  @include flex(column);
  padding: 20px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 8px 8px 2px rgba($deep-purple, 0.1);

  .edit {
    @include actionButton(transparent);
  }
  .delete {
    @include actionButton(transparent);
  }

  .access-action {
    @include flex(row, space-between, stretch);
  }

  .user {
    @include TextPreset2;

    span {
      color: $deep-purple;
      font-weight: bold;
    }
  }

  h1 {
    @include TextPreset2;
    font-weight: 500;
    color: $deep-purple;
  }

  .post-detail {
    overflow: hidden;
    height: 50px;
    padding: 5px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .action-section {
    width: 100%;
    @include flex(row, center);
    margin-top: 10px;

    .view {
      @include actionButton(transparent);
      color: $deep-purple;
    }
  }
}
