<section class="view-post">
    @if(isLoading){
    <app-loader />
    }@else {
    <div class="post">

        <h1>{{post.title}}</h1>

        <div>Post made by user {{post.userId}}</div>

        <div class="body">
            {{post.body}}
        </div>

        <div class="access-action">
            <button class="edit">Edit</button>
            <button class="delete" (click)="onToggleModal()">Delete</button>
        </div>
    </div>

    <div class="comments-wrapper">
        <h1>Comments
            @if(commentLength){({{comments?.length }})}</h1>

        <div class="comments-container">
            @for(comment of comments; track comment.id){
            <div class="comment-detail">
                <h2>{{comment.name}}</h2>
                <div class="email">{{comment.email}}</div>
                <div>{{comment.body}}</div>
            </div>
            }

        </div>

    </div>
    }


    @if(showModal){
    <app-modal (closeModal)="onToggleModal()" />
    }

</section>