@use "../src/app/styles/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @include TextPreset2;

  @include breakpoint(480px) {
    width: 100%;
    @include TextPreset4;
  }
  @include breakpoint(740px) {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
